node_modules
npm-debug.log
Dockerfile*
.dockerignore
.git
.env
.gitignore
README.md
LICENSE
.vscode
.coverage
.run-docker.sh
deploy-prod.sh
build-docker.sh
email-templates

.next/
bitbucket-pipelines.yml
.github
